*,
html{
    margin: 0px;
    padding: 0px;
}
body {
    font: 16px/28px arial, sans-serif;
    background-color: rgb(215, 225, 228);
    color: rgb(20, 19, 19);
}

.header {
    padding: 5px;
    background-color: rgb(212, 62, 54);

}
.header .judul {
    font-size: 30px;
    font-weight: bold;
}
.header .lihed {
    display: inline-block;
}
.gambar {
    height: 20vh;
    background-image: url(pemandangan.jpg);
    background-size: cover;
    background-position:0 -700px;
    border-top: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
}
.container {
    width: 1400px;
    margin: auto;
    padding: 5px;
    height: 700px;
 }
.container2 {
    width: 69vw;
    margin: auto;
    background-color: rgb(200, 195, 195);
    padding: 5px;
    height: 280px;
}
p {
    text-align: center;
    font-weight: bold;

}
.container3 {
    width: 69vw;
    margin-top: 10px;
    margin-left: 50px;
    background-color: rgb(200, 195, 195);
    padding: 5px;
    height: 380px;
}

.kotak {
    list-style-type: none;
    width: 300px;
    height: 225px;
    background-color: rgb(60, 34, 34);
    float: left;
    padding: 2px;
    margin-top: 10px;
    margin-left: 16px;
}
.kotak5 {
    list-style-type: none;
    width: 952px;
    height: 350px;
    background-color: rgb(60, 34, 34);
    float: left;
    padding: 2px;
    margin-top: 10px;
    margin-left: 25%;
}
.fotoq {
    width: 300px;
    height: 200px;
}
.logo {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 8px;
}

.ulhed {
    display: flex;
    height: 40px;
    justify-content: left;
    align-items: center;
    margin-left: 10px;
}

.lihed {
    list-style-type: none;
    padding: 5px;
    margin: 10px;
    color: rgb(147, 147, 152);
    font-size: 20px;
    font-style: initial;
    font-family: sans-serif;
    font-weight: bold;
    
}
.lihed:hover {
    background-color: rgb(255, 0, 0);
    transition: .3s ease-in-out;
    transition-delay: .1s;
    border-radius: 7px;
}
.anav {
    color: black;
    text-decoration: none;
}